
<footer [ngClass]=" isNavbarFixed ? 'fixed' : 'notFixed'">
    <div class="card-group">
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfouKlpXdALzbXastt4s13qlcQqt8Evl6U04zN37EWpLmQmd1ab4mu4zC33dty4tZBgp0&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF2SWaZVuXeTm8LJyGseDwDlUJBooHhrRbKVivLFeYtDXQoaxCJn-PQgHqS4rCQyCI2Ko&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ03uSwkHRuLkoiY8JeDLeOufHloZ2n0NfNP_PLE9v_zjPEy8nac3Dg0j-QIA7GyKVpH9Y&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</footer>
