
<head>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Permanent+Marker&display=swap" rel="stylesheet"> -->
    
</head>

<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'J\'aime' + '👍' }">
    <h1>{{facesnap.title | uppercase }}</h1>
   
    <p>{{facesnap.description}}</p>
   
    <button (click)="onViewFacesnap()">Voir ce facesnap</button>
</div>


