<div class="form-card">
    <h2>NOUVEAU FACESNAP</h2>
    <form [formGroup]="snapForm">   
        <div class="form-group">
            <label for="title">Titre</label>
            <input id="title" type="text" formControlName="title">
        </div>
        <div class="form-group">
            <label for="imageUrl">URL de l'image</label>
            <input id="imageUrl" type="text" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" formControlName="description" rows="4">
            </textarea>
        </div>
        <div class="form-group">
            <label for="memberShip">memberShip</label>
            <input id="memberShip" type="text" formControlName="memberShip">
        </div>
        <div class="form-group">
            <label for="numberOfBerry">numberOfBerry</label>
            <input id="numberOfBerry" type="text" formControlName="numberOfBerry">
        </div>
        <div class="form-group">
            <label for="strenghPercent">strenghPercent</label>
            <input id="strenghPercent" type="text" formControlName="strenghPercent">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Ajouter</button>
        </div>

        <div class="face-snap-card" *ngIf="previewFacesnap$ | async as facesnap">
            <h1>{{facesnap.title | uppercase }}</h1>
            <button routerLink="/facesnaps">Retour</button>
            <img [src]="facesnap.imageUrl" [alt]="facesnap.title">
            <p>{{facesnap.description}}</p>
            <p *ngIf="facesnap.memberShip === 'law'"> Ce pirate appartient au groupe de {{facesnap.memberShip}} </p>
            <p> Publié le {{facesnap.createdDate | date:  'dd/MM/yy, à HH:mm' }}</p>
            <p>Il a une prime de <span [style.color]="'blue'">{{facesnap.numberOfBerry | currency: 'ß':'symbol': '6.0-0'}}</span> et un pourcentage de force équivaut à <span [style.color]="'blue'">{{facesnap.strenghPercent | percent: '1.0-1'}}</span></p>
        </div>
        
    </form>
</div>
