.landing-block {
   text-align: center;
   margin-top: 10px; 
  }
  
  .landing-links {
   
  }

  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-top: 20px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
  }

  button:hover{
    background-color: aqua;
  }

  .champs{
    margin: 15px;
  }

  @media screen and (max-width: 1000px){
    .landing-block {

      margin-top: 10px; 
      img{
        width: auto;
      }
    }

  }

  @media screen and (max-width: 540px){
    .landing-block {
      img{
        width: 400px; height: 400px;
      }
    }
  }