/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'Permanent Marker', cursive;
  }
body{
  padding: 0;
  margin: 0;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
